.trips {
  margin-bottom: 2rem;
}

.trips__title {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: white;
  background-color: var(--dark-blue);
}

.trips__list {
  padding: 0.5rem 1.2rem;
  background-color: var(--light-gray);
}

@media screen and (min-width: 30rem) {
  .trips__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .trips__item {
    max-width: 40rem;
  }
}

@media screen and (min-width: 80rem) {
  .trips__item {
    width: 40rem;
    padding: 2rem;
  }
}