@font-face {
  font-family: vegan;
  src: url('/public/fonts/vegan.ttf');
}

@font-face {
  font-family: open-sans;
  src: url('/public/fonts/static/OpenSans/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: open-sans;
  src: url('/public/fonts/static/OpenSans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: open-sans;
  src: url('/public/fonts/static/OpenSans/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: open-sans;
  src: url('/public/fonts/static/OpenSans/OpenSans-Light.ttf');
  font-weight: 300;
}

:root {
  --yellow: #FECE62;
  --metal: #545454;
  --dark-blue: #00286E;
  --light-blue: #DBECFC;
  --light-gray: #e5e5e580;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--metal);
  font-family: open-sans, sans-serif;
}
