.my-trips-requests__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin: 0rem auto;
  height: 100%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.95);
}

.my-trips-requests__wrapper p:first-child {
  padding-top: 10rem;
}

@media screen and (min-width: 30rem) {
  .my-trips-requests {
      max-width: 100vw;
      background-image: url(../../../../public/images/bg_desktop.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
  }
  .my-trips__no-requests {
    font-size: 1.2rem;
  }
  .my-trips-requests__wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 60rem) {
  .my-trips__no-requests {
    font-size: 1.5rem;
  }
  .my-trips-requests__wrapper {
    width: 70%;
    padding: 4rem;
  }
}
