.trip {
  position: relative;
}

.trip-container {
  background-color: var(--light-gray);
  margin-top: 0.3rem;
  display: grid;
  grid-template-areas:
    "header"
    "info"
    "other"
    "images"
    "user"
    "button";
  margin-bottom: auto;
}

.trip__popup {
  margin-top: -4rem;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(46, 46, 46, 0.644);
}

.trip__popup--hide {
  display: none;
}

.trip__popup-wrapper {
  margin: 40% 0;
  background-color: white;
  height: 25rem;
}

.trip__popup__title {
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
  color: var(--dark-blue);
}

.trip__popup__text {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  margin: 2rem 0;
  border: none;
  box-shadow: inset 0px 5px 8px var(--shadow);
  color: var(--metal);
  min-height: 9rem;
}

.trip__popup__close {
  margin-top: 5%;
  margin-left: 85%;
  border: none;
  background-color: white;
}

.trip__popup__btn {
  text-decoration: none;
  border: transparent;
  color: var(--metal);
  padding: 0.5rem 1.3rem;
  border-radius: 0.4rem;
  box-shadow: 0 5px 3px var(--shadow);
  font-weight: bold;
  font-size: 1.2rem;
  width: 10rem;
  margin: 0 auto;
  background-color: var(--yellow);
}


.trip__main-header {
  grid-area: header;
  height: fit-content;
  margin-bottom: 1rem;
}

.trip__info {
  grid-area: info;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trip__dates {
  display: flex;
  justify-content: space-evenly;
  max-width: 15rem;
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--dark-blue);
}

.trip__dates-dash {
  margin: 0 0.5rem;
}

.trip__description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
}

.trip__other {
  grid-area: other;
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-blue);
  color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  height: fit-content;
}

.trip__img-container {
  grid-area: images;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.trip__img {
  max-width: 100%;
  margin: auto;
}

.trip__user-card {
  grid-area: user;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  height: fit-content;
}

.trip__button-container {
  grid-area: button;
  background-color: white;
  padding-top: 1rem;
  height: fit-content;
}

.trip__request-button {
  width: 100%;
  background-color: var(--yellow);
  border: none;
  color: var(--metal);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.2rem;
}

@media screen and (min-width: 45rem) {
  .trip {
    grid-template-areas:
      "header header"
      "info images"
      "other other"
      "user user"
      "button button";
    grid-template-columns: 1fr 1fr;
  }

  .trip__main-header {
    margin-bottom: 2rem;
  }

  .trip__info {
    grid-area: info;
    padding: 1.5rem 2rem;
  }

  .trip__img-container {
    margin-bottom: 0;
  }

  .trip__other {
    margin: 2rem 0;
  }

  .trip__user-card {
    margin: 0 auto 2rem;
    max-width: 50rem;
  }

  .trip__button-container {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .trip {
    grid-template-areas:
      "header header header"
      "info images user"
      "info images button"
      "other other other";
    grid-template-columns: 2fr 2fr 3fr;
  }

  .trip__info {
    margin-bottom: 0;
  }

  .trip__img-container {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .trip__img {
    object-fit: cover;
    height: 100%;
  }
  
  .trip__user-card {
    margin: 1rem 1rem 3rem 0;
  }

  .trip__button-container {
    padding-top: 0;
    margin: auto 3rem auto 2rem;
    background-color: transparent;
  }

  .trip__other {
    margin: 2rem 0 0;
  }
}