.trip__info {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.trip__dates {
  display: flex;
  justify-content: space-evenly;
  max-width: 15rem;
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--dark-blue);
}

.trip__description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
}

.trip__other {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-blue);
  color: white;
  padding: 1.5rem;
}

.trip__additional {
  padding: 1.5rem 2rem;
  background-color: var(--light-gray);
  margin-bottom: 1rem;
}

.trip__img-container {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.trip__img {
  max-width: 100%;
}

.trip__request-button {
  width: 100%;
  background-color: var(--yellow);
  border: none;
  color: var(--metal);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.2rem;
}