.user-card {
  display: grid;
  grid-template-columns: 5fr 3fr;
  background-color: var(--light-blue);
  border-radius: 0.4rem;
  box-shadow: 0 3px 3px 1px var(--shadow);
  max-width: 35rem;
}

.user-card__info {
  padding: 0.8rem;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
}

.user-card__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.user-card__gender {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.user-card__summary {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.user-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 0.9rem;
}

.user-card__avatar {
  max-width: 100%;
  border-radius: 0 0.3rem 0.3rem 0;
  object-fit: cover;
  height: 100%;
}

@media screen and (min-width: 45rem) {
  .user-card {
    max-width: 50rem;
  }

  .user-card__info {
    padding: 1.2rem;
  }

  .user-card__title {
    font-size: 1.5rem;
  }

  .user-card__gender {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  .user-card__summary {
    font-size: 1.2rem;
  }

  .user-card__footer {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 85rem) {
  .user-card {
    max-width: 30rem;
  }

  .user-card__info {
    padding: 0.8rem;
  }

  .user-card__title {
    font-size: 1rem;
  }

  .user-card__gender {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  .user-card__summary {
    font-size: 0.8rem;
  }

  .user-card__footer {
    font-size: 0.9rem;
  }
}