a {
  text-decoration: none;
}

.trips__offer {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 0.2rem;
  box-shadow: 3px 5px 3px var(--shadow);
  margin: 2rem auto;
  max-width: 25rem;
}

.trips__info {
  width: 70%;
  color: var(--dark-blue);
}

.trips__header,
.trips__details,
.trips__host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  padding: 0.5rem;
}

.trips__description {
  font-size: 0.7rem;
  padding: 0.4rem 0.5rem;
}

.trips__country {
  font-size: 0.8rem;
}

.trips__date {
  font-size: 0.8rem;
}

.trips__host {
  padding: 0.5rem;
  background-color: var(--light-blue);
}

.trips__host-name {
  font-weight: bold;
}

.trips__pic {
  width: 30%;
  object-fit: cover;
}

@media screen and (min-width: 30rem) {
  .trips__offer {
    width: 90%;
    max-width: 40rem;
  }
  .trips__description {
    font-size: 0.9rem;
  }
  
  .trips__country {
    font-size: 1.1rem;
  }
  
  .trips__date {
    font-size: 1rem;
  }
  .trips__host {
   font-size: 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .trips__offer {
    width: 37rem;
    max-width: 40rem;
    height: 15rem;
    margin: 0;
  }
  .trips__info {
    padding: 1rem 1rem 0rem 1rem;
    position: relative;
  }
  .trips__description {
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
  }
  
  .trips__country {
    font-size: 1.4rem;
  }
  .trips__details {
    font-size: 1.2rem;
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
    right: 1rem;
  }
  
  .trips__date {
    font-size: 1.4rem;
  }
  .trips__host {
   font-size: 1rem;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0.5rem 1rem;
  }
}