.edit-user-form {
  padding: 1.5rem;
  max-width: 100vw;
  width: 40rem;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.952);
}

.edit-user-form__label {
  display: grid;
  grid-template-columns: 5rem minmax(0, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  max-width: 100%;
}

.edit-user-form__label--text-area {
  grid-template-columns: 1fr;
  text-align: center;
}

.edit-user-form__input {
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: inset 0px 5px 8px var(--shadow);
  color: var(--metal);
}

.edit-user-form__select {
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: inset 0px 5px 8px var(--shadow);
  color: var(--metal);
}

.edit-user-form__text-area {
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: inset 0px 5px 8px var(--shadow);
  color: var(--metal);
  min-height: 5rem;
}

.edit-user-form__btn {
  margin: 1rem auto;
  width: 7rem;
  padding: 0.6rem 1rem;
  border: none;
  font-weight: bold;
  background-color: var(--yellow);
  border-radius: 0.4rem;
  box-shadow: 0 5px 3px var(--shadow);
  cursor: pointer;
}

.edit-user-form__btn-wrapper {
  background-color: var(--light-gray);
  margin: 0.5rem -1.5rem;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  .edit-user-form {
    padding: 2rem 5rem;
  }

  .edit-user-form__btn-wrapper {
    background-color: transparent;
  }
}