.header {
  position: relative;
  height: 4.5rem;
}

.header__nav {
  display: flex;
  padding: 0.5rem 0.9rem;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  font-size: 0.8rem;
  font-family: vegan, sans-serif;
  align-items: center;
}

.header__title {
  margin-top: 0.9rem;
  margin-left: 0.5rem;
  color: var(--metal);
}

.header__logo {
  width: 4rem;
}

.header__links-container {
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  right: 0;
  min-height: calc(100vh - 4.5rem);
  background-color: var(--light-blue);
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.2s;
}

.header__links-container--visible {
  transform: translateX(0);
}

.header__button {
  margin-top: 0.3rem;
  background-color: transparent;
  border: none;
}

.header__link {
  display: block;
  padding: 0.8rem 2rem;
  text-decoration: none;
  color: var(--metal);
  border: none;
  background-color: white;
  width: 15rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--metal);
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}

.header__link--blue {
  background-color: var(--dark-blue);
  color: white;
}

.header__link--yellow {
  background-color: var(--yellow);
}

@media screen and (min-width: 50rem) {
  .header__button {
    display: none;
  }

  .header__links-container {
    display: flex;
    position: static;
    flex-direction: row;
    min-height: auto;
    background-color: transparent;
    transform: none;
  }

  .header__link {
    border: none;
    background-color: transparent;
    padding: 1rem;
    width: auto;
    margin: auto;
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
    color: var(--metal);
  }

  .header__link:hover {
    background-color: var(--yellow);
  }
}