.edit-user__img {
  width: 100vw;
  opacity: 40%;
}

@media screen and (min-width: 40rem) {
  .edit-user__form {
    opacity: 80%;
    max-width: 100vw;
    background-image: url('/public/images/bg_desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .edit-user__img {
    display: none;
  }
}